h1 {
  color: #890000;
  background-color: #90918B;
  text-decoration: underline;
  }

body {
  background-color: #90918B;
  text-align: center;
  background: url("http://images6.alphacoders.com/522/522979.jpg")
}

div {
  display: block;
}

.img-circle {
  border-radius: 30%;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}

.text-center {
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.shadow {
  box-shadow: 2px 2px 2px black
}

.shadowed {
  box-shadow: 3px 3px 1px white
}

.btn-red {
  background-color: #890000;
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

.container {
  width:500px;
  margin: auto;
}

a {
  color: grey;
  cursor: auto;
}

ul {
  list-style-type: none;
}

.list-inline a {
  font-size: 35px;
  list-style: none;
  text-align: center;
  text-decoration: none;
}
